# Default ignored files
/../../../html_css./html_css/.idea/shelf/
/../../../html_css./html_css/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../html_css./html_css/.idea/httpRequests/
# Datasource local storage ignored files
/../../../html_css./html_css/.idea/dataSources/
/../../../html_css./html_css/.idea/dataSources.local.xml
